AGENT_KMS_KEY=
ARBITRUM_RPC_URL=
BRIDGE2_RELAYER_PRIVATE_KEY=
COINGLASS_GLOBAL_MODE=
COINGLASS_HOUSE_KEY=
EXPO_PUBLIC_ARBITRUM_RPC_URL=
EXPO_PUBLIC_BACKEND_URL=
EXPO_PUBLIC_PRIVY_APP_ID=
EXPO_PUBLIC_PRIVY_CLIENT_ID=
HL_BUILDER_ADDRESS=
HL_BUILDER_FEE_TENTHS_BPS=
HL_ENV=
MASSIVE_API_KEY=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=